{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Three.js Point Cloud</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
		body {
			margin: 0;
			overflow: hidden;
		}
        #editor {
            
        width: 100%;
        height: 100%;

      }
	</style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Script</button>
      </div>
      <div class="justify-content-md-end">
          <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="editor"></div>
                <button id="compile-btn" class="btn btn-primary">Compile</button>
                <div id="notification-container"></div>
            </div>
          </div>
      </div>

    </nav>
    {% csrf_token %}
    <div id="container">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/three@0.134.0/build/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r134/examples/js/controls/OrbitControls.js"></script>


    <script src="{% static 'index.js'%}"></script>
    <script>
        const sceneJson = '{{ scene_json|safe }}';  // Access the serialized scene JSON
        
        // Parse the JSON string into a JavaScript object
        const scene_retrieve = JSON.parse(sceneJson);
        
        // Access the fields of the scene object
        const sessionId = scene_retrieve.session_id;
        const pointClouds = scene_retrieve.point_clouds;
        const pointCloudCount = scene_retrieve.point_cloud_count;
        
        // Use the scene data as needed
        console.log(sessionId);
        console.log( pointClouds );
        console.log(pointCloudCount);
        // lighting
        var ambient_light = scene_retrieve.ambient_light;
        var directional_light = scene_retrieve.directional_light;
        set_ambient_lighting(ambient_light);
        set_directional_lighting(directional_light);
        // pointclouds
        load_scene(pointClouds,pointCloudCount);
    </script>

    <script src="{% static 'monaco-editor-0.38.0/package/min/vs/loader.js' %}"></script>

    <script>
      require.config({ paths: { 'vs': '{% static "monaco-editor-0.38.0/package/min/vs" %}' }});
      require(['vs/editor/editor.main'], function() {
        monaco.languages.register({ id: 'python' });
        monaco.languages.setMonarchTokensProvider('python', {
          tokenizer: {
            root: [
              [/[a-z_$][\w$]*/, { token: 'identifier' }],
              [/\d+\.\d+/, { token: 'number.float' }],
              [/\d+/, { token: 'number' }],
              [/"([^"\\]|\\.)*$/, { token: 'string.invalid', next: '@string' }],
              [/"/, { token: 'string.quote', next: '@string' }],
              [/'[^\\']'/, { token: 'string' }],
            ],
            string: [
              [/[^\\"]+/, { token: 'string' }],
              [/\\./, { token: 'string.escape' }],
              [/"/, { token: 'string.quote', next: '@pop' }],
            ],
          },
        });
        monaco.languages.setLanguageConfiguration('python', {
          brackets: [['(', ')'], ['[', ']'], ['{', '}']],
          autoClosingPairs: [
            { open: '(', close: ')' },
            { open: '[', close: ']' },
            { open: '{', close: '}' },
            { open: "'", close: "'", notIn: ['string', 'comment'] },
            { open: '"', close: '"', notIn: ['string', 'comment'] },
          ],
        });
        const editor =monaco.editor.create(document.getElementById('editor'), {
          value: 'print("Hello, world!")',
          language: 'python',
          theme: 'vs-dark',
        });
        // Attach event listener to the Compile button
        const compileBtn = document.getElementById('compile-btn');
    compileBtn.addEventListener('click', () => {
      const code = editor.getValue();
      console.log(code);
      const userSessionId = '{{ request.session.session_key }}';
      fetch('{% url "compile" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ "code":code, user_session_id: userSessionId })
      })
      .then(response => response.json())
      .then(data => {
        console.log(data.output);
        if(data.error_code == 0)
        {
          showNotification('Compilation successful!', 'success');
        }
        else{  
          showNotification('Compilation failed!', 'danger');
        }

      })
      .catch(error => {
        console.error(error);
      });
    });
      });
    </script>
</body>
</html>